/* card */

.card {
    background-color: #fff;

    box-shadow: var(--box-shadow-z-2);
    border-radius: var(--border-radius-small);

    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;

    display: flex;
    flex-direction: column;
    min-height: 100%;

    position: relative;

    justify-content: center;
}

.card.hoverable {
    cursor: pointer;
}

.card.selected {
    box-shadow: 0px 0px 10px var(--color-brand-500);
}

.card.align-left {
    text-align: left;
    align-items: flex-start;
}

.card.align-center {
    text-align: center;
    align-items: center;
}

.card.align-right {
    text-align: right;
    align-items: flex-end;
}

.card.valign-top {
    justify-content: flex-start;
}

.card.valign-center {
    justify-content: center;
}

.card.valign-bottom {
    justify-content: flex-end;
}

.card-icon {
    background-color: var(--color-bg);
    width: 80px;
    height: 80px;

    border-radius: 40px;

    overflow: hidden;

    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 20pt;
}

.card-icon img {
    max-width: 50%;
    max-height: 50%;
}

.card-title {
    margin-top: 16px;
    color: var(--color-text-medium);
    font-size: 13pt;
}

.card-text {
    margin-top: 8px;
    font-size: 10pt;
    line-height: 1.2;
    color: var(--color-text-light);
}

.card-loader {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.hoverable:hover .card-title {
    color: var(--color-brand);
}

.small .card-icon {
    max-width: 35px;
    max-height: 35px;
}

.small .card-title {
    font-size: 10pt;
}
