/* image selector */

.image-selector-container {
    display: flex;
    flex-direction: row;
    padding: 20pt;
}

.image-selector-left {
    width: 50%;
    box-sizing: border-box;
    padding-right: 20px;
}

.image-selector-title {
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 10px;
}

.image-selector-add-block {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.image-selector-preview {
    margin-left: 10px;
}

.image-selector-image-name {
    font-size: 110%;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.image-selector-image-remove {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 130%;
    margin-left: 10px;

    cursor: pointer;
}

.image-selector-image-remove:hover {
    color: #1890ff;
}

.image-selector-sizes-block {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.image-selector-sizes-field-container {
    max-width: 100px;
}

.image-selector-sizes-label {
    display: block;
    margin-bottom: 5px;
}

.image-selector-sizes-field {
    width: 100%;
}

.image-selector-sizes-button {
    width: 32px;
    height: 32px;
    line-height: 32px;
    padding: 0px;
    font-size: 140%;
    text-align: center;
    cursor: pointer;
}

.image-selector-sizes-button:hover {
    color: #1890ff;
}

.image-selector-sizes-button.active {
    color: #1890ff;
}

.image-selector-right {
    width: 50%;

    position: relative;
}

.image-selector-image-block {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.image-selector-image-block-empty {
    background-color: #cdcdcd;
    border-radius: 10px;
    padding-top: 100%;
    width: 100%;

    cursor: pointer;

    transition: opacity 0.5s;
}

.image-selector-image-block-empty:hover {
    opacity: 0.7;
}

.image-selector-image-resize {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.image-selector-image-resize-btn {
    padding: 0px;
    margin: 0px 5px;
}
