.untill-base-no-image {
    background-image: url(../../images/no-image.png);
    background-position: center center;
    background-size: 30%;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
}