.overlay-close-button {
    color: #fff;
    min-width: 30px;
    height: 30px;

    display: flex;

    justify-content: center;
    align-items: center;

    cursor: pointer;

    position: fixed;

    left: 10px;
    top: 10px;

    transition: 0.3s opacity;

    &::before {
        content: ' ';
        display: block;
        width: 80%;
        height: 1px;
        background-color: #000;

        position: absolute;

        transform: rotate(45deg);
    }

    &::after {
        content: ' ';
        display: block;
        width: 80%;
        height: 1px;
        background-color: #000;

        position: absolute;

        transform: rotate(-45deg);
    }

    &:hover {
        opacity: 0.5;
    }
}